<footer class="footer">
    <div class="footer-content">
      <div class="clm">
        <img
          src="\assets\apple-touch-icon.png"
          alt="NoteRoom Logo"
        />
        <div class="footer-about">
          NoteRoom is a knowledge media platform designed to help students of HSC excel their academics and curiosity. We combine social features with deep learning tools, offering a space to explore ideas, and intellectual collaboration. 
        </div>
      </div>
      <div class="clm">
        <h3>Contact Info</h3>
        <ul>
          <li>College Road, Chakbazar, 4203 Chattogram</li>
          <li>Phone: +8801978462090</li>
          <li>Email: support@noteroom.co</li>
        </ul>
      </div>
      <div class="clm">
        <h3>Important Links</h3>
        <ul>
          <li><a href="http://app.noteroom.co/login">Login</a></li>
          <!-- <li><a href="/user-guide">User Guide</a></li> -->
          <li><a href="/about-us">About Us</a></li>
        </ul>
      </div>
      <div class="clm">
        <h3 class="sign-up-title">Not a Memeber Yet 😿?</h3>
        <p>Jump in, share notes, and level up your study game with us!</p>
        <div onclick="location.href='http://app.noteroom.co/login'" class="sign-up-btn">
          Join Now
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="footer-copyright-wrapper">
        <p class="footer-copyright-text">
          <a class="privacy-policy-link" href="/privacy-policy"
            >Privacy Policy</a
          >
          <a class="footer-copyright-link"
            >Copyright ©2025 | NoteRoom | All rights reserved.
          </a>
        </p>
      </div>
    </div>
  </footer>