<header class="header flex-col-center">
    <div class="header__container-1 flex-row-center">
      <div class="header__logo flex-row-center">
        <img src="\assets\apple-touch-icon.png" alt="NoteRoom Logo" onclick="window.location.href='/'" />
        <span class="header__logo--subtitle">NoteRoom</span>
     </div>
  
      <nav class="header__nav nav-pc" id="headerNav">
        <ul class="nav-list">
          <li><a href="/about-us">About</a></li>
          <li><a href="/support">Support</a></li>
          <li><a href="/join-us">Join Team</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </nav>
  
      <div class="auth-buttons flex-row-center">
        <button class="header__btn login" onclick="window.location.href = 'http://app.noteroom.co/login'">Login</button>
        <button class="header__btn create-account" onclick="window.location = 'http://app.noteroom.co/signup'">Create Account</button>
        <button class="menu-toggle" id="menuToggle" aria-label="Toggle Menu" aria-expanded="false">
          ☰
        </button>
      </div>

    </div>
  
    <div class="mobile-menu">
      <ul class="mobile-nav-list">
        <li><a href="/about-us">About</a></li>
          <li><a href="/support">Support</a></li>
          <li><a href="/join-us">Join Team</a></li>
          <li><a href="/blog">Blog</a></li>
        <li><button class="mobile-nav-signup-btn" onclick="window.location.href = 'http://app.noteroom.co/signup'">Create Account</button></li>
      </ul>
    </div>
  </header> 