<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/support.css" />
    <link rel="stylesheet" href="/css/header-footer.css" />
    <title>Support & Feedback</title>

    <%- include('partials/links.ejs') %>
  </head>
  <body>
    <header>
      <svg
        class="header-back-btn"
        onclick="goPrevPage()"
        width="25"
        viewBox="0 0 68 68"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16.6029 29.8333H67.332V38.1666H16.6029L39.9362 61.5L33.9987 67.3333L0.665367 34L33.9987 0.666649L39.9362 6.49998L16.6029 29.8333Z"
          fill="#1D1B20"
        />
      </svg>
      <h1>We'd love to hear from you!</h1>
    </header>
    <iframe
      data-tally-src="https://tally.so/embed/mJJ88R?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
      loading="lazy"
      width="100%"
      height="553"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
      title="               NoteRoom SupportðŸ› ï¸ "
    ></iframe>
    <script>
      var d = document,
        w = "https://tally.so/widgets/embed.js",
        v = function () {
          "undefined" != typeof Tally
            ? Tally.loadEmbeds()
            : d
                .querySelectorAll("iframe[data-tally-src]:not([src])")
                .forEach(function (e) {
                  e.src = e.dataset.tallySrc;
                });
        };
      if ("undefined" != typeof Tally) v();
      else if (d.querySelector('script[src="' + w + '"]') == null) {
        var s = d.createElement("script");
        (s.src = w), (s.onload = v), (s.onerror = v), d.body.appendChild(s);
      }
    </script>
    <footer class="footer">
      <div class="footer-content">
        <div class="clm">
          <img
            src="https://storage.googleapis.com/noteroom-fb1a7.appspot.com/badges/draft-logo-of-noteroom.png"
            alt="NoteRoom Logo"
          />
          <div class="footer-about">
            Noteroom is a student-driven platform for sharing notes,
            collaborating, and group study. Think of it as a social media but
            built for students.
          </div>
        </div>
        <div class="clm">
          <h3>Contact Info</h3>
          <ul>
            <li>College Road, Chakbazar, 4203 Chattogram</li>
            <li>Phone: +8801978462090</li>
            <li>Email: support@noteroom.co</li>
          </ul>
        </div>
        <div class="clm">
          <h3>Important Links</h3>
          <ul>
            <li><a href="http://app.noteroom.co/login">Login</a></li>
            <!-- <li><a href="/user-guide">User Guide</a></li> -->
            <li><a href="/about-us">About Us</a></li>
          </ul>
        </div>
        <div class="clm">
          <h3 class="sign-up-title">Not a Memeber Yet ðŸ˜¿?</h3>
          <p>Jump in, share notes, and level up your study game with us!</p>
          <div onclick="location.href='http://app.noteroom.co/login'" class="sign-up-btn">
            Join Now
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="footer-copyright-wrapper">
          <p class="footer-copyright-text">
            <a class="privacy-policy-link" href="/privacy-policy"
              >Privacy Policy</a
            >
            <a class="footer-copyright-link"
              >Copyright Â©2025 | NoteRoom | All rights reserved.
            </a>
          </p>
        </div>
      </div>
    </footer>

    <script src="/js/support.js"></script>
    <script src="/js/utils.js"></script>
  </body>
</html>
