<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/support.css" />
    <link rel="stylesheet" href="/css/header-footer.css" />
    <title>Support & Feedback</title>
    <meta name="description" content="Reach out to NoteRoom support team for any problems you're facing or any feedbacks you'd like to provide." />
    <meta name="keywords" content="contact NoteRoom, NoteRoom support, NoteRoom help, issues with NoteRoom" />

    <%- include('partials/links.ejs') %>
    <%- include('./partials/header-footer-links.ejs') %>

  </head>
  <body>

  <%- include('./partials/header.ejs') %>

  <h1 class="support-title">How Can We Help Today?</h1>


    <iframe
      data-tally-src="https://tally.so/embed/mJJ88R?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
      loading="lazy"
      width="100%"
      height="553"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
      title="               NoteRoom SupportðŸ› ï¸ "
    ></iframe>

  <%- include('./partials/footer.ejs') %>

    <script>
      var d = document,
        w = "https://tally.so/widgets/embed.js",
        v = function () {
          "undefined" != typeof Tally
            ? Tally.loadEmbeds()
            : d
                .querySelectorAll("iframe[data-tally-src]:not([src])")
                .forEach(function (e) {
                  e.src = e.dataset.tallySrc;
                });
        };
      if ("undefined" != typeof Tally) v();
      else if (d.querySelector('script[src="' + w + '"]') == null) {
        var s = d.createElement("script");
        (s.src = w), (s.onload = v), (s.onerror = v), d.body.appendChild(s);
      }
    </script>

    <script src="/js/support.js"></script>
    <script src="/js/utils.js"></script>
  </body>
</html>
