* {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color Pallete */
  --squid-ink: #07192d;
  --neon-blue: #04dbf6;
  --light-gray: #f8f8f8;
  --main-bg: #f2f4f7;

  --night: #16151A;

  /* Productivity Code */
  /* CSS HEX */
  --jet: #474343ff;
  --auburn: #a33133ff;
  --auburn-2: #b13437ff;
  --dim-gray: #6a6a6bff;
  --onyx: #404041ff;

  --p-desc-color: rgba(255, 255, 255, 0.8);

  /* Font Size */
  --font-size-h1: 48px;
  --font-size-h2: 36px;
  --font-size-h3: 24px;
  --font-size-h4: 20px;

  /* border radius */
  --border-radius-mx: 50px;
  --border-radius-med: 12px;
  --border-radius-li: 10px;
}

h1 {
  font-size: var(--font-size-h1);
  line-height: 62px;
  font-family: poppins;
}

p {
  line-height: 32px;
  /* color: var(--p-desc-color); */
}

.text-link{
  color: var(--squid-ink);
  text-decoration: underline;
  text-decoration-color: var(--neon-blue);
  text-decoration-thickness: 2px;
  font-style: italic;
  transition: all 0.1s ease-in-out;
}
.text-link:hover{
  color: var(--neon-blue);
}
.text-link:active{
  color: var(--squid-ink);
}

html,
body {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  width: 100vw;
  max-width: 1800px;
  height: fit-content;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 5vw;
  /* background: var(--squid-ink); */
  /* color: white; */
  /* clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%); */
  /* border-radius: var(--border-radius-mx); */
}

.hero-content {
  max-width: 50%;
  height: 100%;
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
}
.hero-title {
  width: 100%;
  max-width: 700px;
  padding: 15px 0px;
  font-family: poppins;
}
.hero-desc {
  max-width: 700px;
}
.download-btn {
  display: inline-block;
  padding: 15px;
  width: 100%;
  margin: 25px 0;
  max-width: 250px;
  text-align: center;
  background-color: var(--auburn);
  color: var(--light-gray);
  text-decoration: none;
  border-radius: var(--border-radius-mx);
  font-weight: bold;
  transition: all 0.1 ease-in-out;
  border: none;
}

.download-btn:hover {
  cursor: pointer;
  background-color: var(--auburn-2);
}
.download-btn:active {
  opacity: 0.8;
}
.hero-img {
  width: 50%;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img img {
  width: 60%;
  height: auto;
}

@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 8vw;
  }

  .hero-content {
    max-width: 90%;
  }
  .hero-img {
    width: 80%;
    max-width: 80%;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 0;
  }
  .hero-content {
    padding: 15px 0;
  }

  .hero-title {
    font-size: 36px;
  }

  .hero-desc {
    font-size: 14px;
    line-height: 28px;
  }

  .download-btn {
    max-width: 220px;
    padding: 12px;
  }

  .hero-img {
    width: 100%;
    max-width: 100%;
  }

  .hero-img img {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 0;
  }

  .hero-title {
    font-size: 28px;
  }

  .hero-desc {
    font-size: 14px;
    line-height: 26px;
  }

  .download-btn {
    padding: 10px;
    align-self: center;
  }

  .hero-img img {
    width: 90%;
  }
}


/* Book Features */

/* General Styles for the stack-area */
.stack-area {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  position: relative;
  padding: 10px;
  min-height: 55vh;
}

/* Main Content Styling */
.main-content {
  max-width: 600px;
  z-index: 2;
}

.stack-area-title {
  font-size: 48px;
  font-family: poppins;
  font-weight: 700;
  line-height: 1.2;
}

.sub-title {
  font-size: 18px;
  font-family: poppins;
  margin-top: 15px;
}

/* Cards Container */
.cards {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

/* General Card Styling */
.card {
  width: 280px;
  height: 220px;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-family: poppins;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  color: white;
}

/* Card Color Adjustments */
.card:nth-child(1) {
  background: #ff6b6b;
} /* Red */
.card:nth-child(2) {
  background: #feca57;
} /* Yellow */
.card:nth-child(3) {
  background: #48dbfb;
} /* Blue */
.card:nth-child(4) {
  background: #1dd1a1;
} /* Green */

.sub {
  font-size: 16px;
  font-weight: bold;
}

.content {
  font-size: 22px;
  font-size: var(--font-size-h4);
  font-weight: 600;
  line-height: 28px;
}

/* Left Cards */
.left-card.first {
  left: 5%;
  transform: rotate(-12deg);
  top: 40%;
}

.left-card.second {
  transform: rotate(-8deg);
  top: 12rem;
}

/* Right Cards */
.right-card.first {
  right: 5%;
  transform: rotate(12deg);
  top: 40%;
}

.right-card.second {
  right: 0;
  transform: rotate(8deg);
  top: 12rem;
}

/* Mobile-First Responsive Design */
@media (max-width: 900px) {
  .stack-area {
    padding: 10px;
  }
  .stack-area-title {
    font-size: 2rem;
  }

  /* Adjust Cards Container */
  .cards {
    position: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: none;
  }

  /* Adjust Individual Card Styles */
  .card {
    position: unset;
    width: 100%;
    max-width: 400px;
    height: auto; /* Adjust height for mobile view */
    margin-bottom: 15px; /* Adds space between the cards */
    transform: none; /* Reset rotation */
    gap: 5px;
  }

  .left-card.first,
  .left-card.second {
    left: unset;
    transform: rotate(-8deg);
    top: unset;
  }
  .left-card.first{
    transform: rotate(2deg);
  }

  /* Right Cards */
  .right-card.first,
  .right-card.second {
    right: unset;
    transform: rotate(12deg);
    transform: unset;
    top: unset;
  }
  .right-card.second {
    transform: rotate(8deg);
  }
}

/* Testimonial Section */

.testimonial-container {
  width: 100%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonial-title{
    font-size: var(--font-size-h2);
    font-family: poppins;
    font-weight: 700;
    line-height: 1.5;
    padding: 15px 0;
    text-align: center;
}

.testimonial-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(3, 1fr);
  max-width: 1150px;
  padding: 1rem;
}

.testimonial-card {
  padding: 1.5rem;
  border-radius: 0.8rem;
  box-shadow: 5px 5px 20px rgba(109, 107, 107, 0.4);
  color: white;
  position: relative;
}

.testimonial-1 {
  background-color: var(--auburn);
  grid-column: 1/3;
}
.testimonial-2 {
  background: var(--jet);
  grid-column: 3/4;
}
.testimonial-3 {
  background: white;
  color: black;
  grid-column: 1/2;
  grid-row: 2/3;
}
.testimonial-4 {
  background: var(--squid-ink);
  grid-column: 2/4;
  grid-row: 2/3;
}

.user-details {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.user-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #cec5c5;
  margin-right: 1rem;
}

.user-info p {
  margin: 0;
}

.user-name {
  font-weight: 600;
  line-height: 1.5;
}

.user-title {
  opacity: 0.7;
  font-size: 0.9rem;
  text-align: left;
}

.testimonial-text {
  font-size: 1rem;
  line-height: 1.5;
  font-style: italic;
}

@media (max-width: 800px) {
  .testimonial-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .testimonial-title {
    font-size: 2rem;
  }

  .testimonial-card {
    width: 90%;
    text-align: center;
  }
  .user-name {
    font-size: 0.85rem;;
  }
}
.swal-custom-popup {
  border-radius: 12px;
  padding: 20px;
  background: #f8f9fa;
  max-width: 600px; /* Limiting width for large screens */
  width: 90%; /* Makes it responsive on smaller screens */
}
.swal-custom-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}
.swal-custom-button {
  background: #007bff !important;
  color: white !important;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
}
.swal-custom-cancel {
  background: #ccc !important;
  color: black !important;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .swal-custom-popup {
      padding: 15px;
  }
  .swal-custom-title {
      font-size: 18px;
  }
  .swal-custom-button,
  .swal-custom-cancel {
      font-size: 14px;
      padding: 15px 18px;
  }
  .swal-custom-cancel{
    padding: 8px 15px;
  }
  .swal2-html-container{
    padding: 0 !important;
  }
}

/* About the Author section */

.about-author {
  background-color: #f0f4f8;
  /* background-color: var(--night);   */
  margin: 15px 20px;
  /* padding: 40px 20px; */
  display: flex;
  width: 95vw;
  max-width: 1600px;
  border-radius: var(--border-radius-mx);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.author-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  align-items: flex-end;
  justify-content: space-between;
}

.author-image {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
}

.author-image img {
  width: 100%;
  max-width: 420px;
  height: 100%;
  object-fit: cover;
  border-left: 1px solid var(--dim-gray);
}

.author-content {
  width: 50%;
  max-width: 600px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  margin-top: 35px;
  gap: 5px;
}

.author-content h2 {
  width: 100%;
  font-family: poppins;
  font-size: 2rem;
  padding: 0 25px;
}

.author-bio-p{
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
  padding-left: 25px !important;
}


@media (max-width: 768px) {
  .author-container {
      flex-direction: column;
      text-align: center;
  }
  .author-content{
    width: 100%;
  }
  .author-bio {
    font-size: 0.85rem;
  }

  .author-image {
    width: 100%;
    justify-content: center;
  }

  .author-image img {
      width: 100%;
      height: auto;
      border: none;
      max-width: none;

  }

  .author-content h2 {
      font-size: 1.5rem;
  }

  .author-bio-p{
    padding-left: 15px !important;
    font-size: .8rem;
    text-align: left;
  }
}